<table style="font-family:Calibri;font-size:15px">
        <tbody>
          <tr>
            <td> <b style="color:#4b4b4d;font-size:16px;padding-left:10px">AUS. Javier Caniparoli</b> <br>
              <div style="color:#4b4b4d;padding-left:20px">Desarrollo
                - Sistemas</div>
            </td>
          </tr>
          <tr>
            <td width="500"> <img src="http://www.inminds.com.ar/assets/images/logoChico.png" align="left">
              <table style="font-family:Calibri;font-size:11px;padding-left:3px">
                <tbody>
                  <tr>
                    <td style="color:#4b4b4d"> <img src="http://www.inminds.com.ar/assets/images/icono_mail.png" height="10" width="10"> <a href="mailto:jcaniparoli@inminds.com.ar" style="color:black;text-decoration:none;color:black" target="_blank"> <span class="lG">jcaniparoli@inminds.com.ar</span></a><br>
                      <img src="http://www.inminds.com.ar/assets/images/icono_ubicacion.png" height="10" width="10"> Bolivar 2128 - CP: 4000<br>
                      <img src="http://www.inminds.com.ar/assets/images/icono_tucuman.png" height="10" width="10"> S. M. de Tuc. - Tucumán<br>
                      <img src="http://www.inminds.com.ar/assets/images/icono_telefono.png" height="10" width="10"> Tel: 3814750109<br>
                      <img src="http://www.inminds.com.ar/assets/images/icono_web.png" height="10" width="10"><a href="http://www.inminds.com.ar/" style="color:black;font-size:12px;font-weight:bold;text-decoration:none" target="_blank" data-saferedirecturl="http://www.inminds.com.ar/">
                        www.inminds.com.ar</a> </td>
                  </tr>
                </tbody>
              </table>
            </td>
          </tr>
          <tr>
            <td style="color:#848688;font-size:9px">
              <hr style="color:#a9abae"> Aviso legal: Este mensaje de
              correo electrónico y sus documentos adjuntos están
              dirigidos EXCLUSIVAMENTE a los destinatarios
              especificados.<br>
              La información contenida puede ser CONFIDENCIAL y/o estar
              LEGALMENTE PROTEGIDA y no necesariamente refleja la
              opinión de INMINDS TUC.<br>
              Si usted recibe este mensaje por ERROR, por favor
              comuníqueselo inmediatamente al remitente y ELIMÍNELO ya
              que usted NO ESTÁ AUTORIZADO <br>
              al uso, revelación, distribución, impresión o copia de
              toda o alguna parte de la información contenida. Muchas
              Gracias.<br>
            </td>
          </tr>
          <tr>
            <td style="color:#056e41;font-size:12px;font-weight:bold;text-decoration:none"> <a><img src="https://ci4.googleusercontent.com/proxy/bE-Kba9D4fZoAmu_vhVjlu7-AGeYx3Woc7wuc2J-qWhsELg42r0lnexLyWUOD5ZELrssxZYCmfzJHTH7GfiiIY1RNfEeuv1u64_1KBvfJS8=s0-d-e1-ft#https://new.cofaral.com.ar/firmas/icono_medio_ambiente.png" height="15" width="15"> Piense en el medio ambiente
                antes de imprimir este e-mail.</a> </td>
          </tr>
        </tbody>
      </table>