<!-- Our clients -->
            <section id="clients" class="our-clients content-section text-center">
                <div class="container">
                    <div class="row">
                        <div class="col-md-12">
                            <h2>Our clients</h2>
                            <h3 class="caption white">Decent listing with your clients. Fully customizable and ready to use in any subpages as you want. Responsive for any numbers of clients in this section.</h3>
                        </div><!-- /.col-md-12-->
                    </div><!-- /.row -->

                    <div class="row client-slider">
                        <div class="item col-xs-4 col-md-2 i">
                            <a href="#" title="#">
                                <img src="assets/images/sony-logo.png" class="img-responsive">
                            </a>
                        </div><!-- /.col-xs-4 -->

                        <div class="item col-xs-4 col-md-2 i">
                            <a href="#" title="#">
                                <img src="assets/images/nike-logo.png" class="img-responsive">
                            </a>
                        </div><!-- /.col-xs-4 -->

                        <div class="item col-xs-4 col-md-2 i">
                            <a href="#" title="#">
                                <img src="assets/images/paramount-logo.png" class="img-responsive">
                            </a>
                        </div><!-- /.col-xs-4 -->

                        <div class="item col-xs-4 col-md-2 i">
                            <a href="#" title="#">
                                <img src="assets/images/microsoft-logo.png" class="img-responsive">
                            </a>
                        </div><!-- /.col-xs-4 -->

                        <div class="item col-xs-4 col-md-2 i">
                            <a href="#" title="#">
                                <img src="assets/images/citibank-logo.png" class="img-responsive">
                            </a>
                        </div><!-- /.col-xs-4 -->

                        <div class="item col-xs-4 col-md-2 i">
                            <a href="#" title="#">
                                <img src="assets/images/fedex-logo.png" class="img-responsive">
                            </a>
                        </div><!-- /.col-xs-4 -->

                        <div class="item col-xs-4 col-md-2 i">
                            <a href="#" title="#">
                                <img src="assets/images/sony-logo.png" class="img-responsive">
                            </a>
                        </div><!-- /.col-xs-4 -->

                        <div class="item col-xs-4 col-md-2 i">
                            <a href="#" title="#">
                                <img src="assets/images/nike-logo.png" class="img-responsive">
                            </a>
                        </div><!-- /.col-xs-4 -->
                        
                        <div class="item col-xs-4 col-md-2 i">
                            <a href="#" title="#">
                                <img src="assets/images/paramount-logo.png" class="img-responsive">
                            </a>
                        </div><!-- /.col-xs-4 -->

                        <div class="item col-xs-4 col-md-2 i">
                            <a href="#" title="#">
                                <img src="assets/images/microsoft-logo.png" class="img-responsive">
                            </a>
                        </div><!-- /.col-xs-4 -->

                        <div class="item col-xs-4 col-md-2 i">
                            <a href="#" title="#">
                                <img src="assets/images/citibank-logo.png" class="img-responsive">
                            </a>
                        </div><!-- /.col-xs-4 -->
                        
                        <div class="item col-xs-4 col-md-2 i">
                            <a href="#" title="#">
                                <img src="assets/images/fedex-logo.png" class="img-responsive">
                            </a>
                        </div><!-- /.col-xs-4 -->

                    </div><!-- /.row -->

                </div><!-- /.container -->
            </section><!-- /.our-clients -->