 <!-- Testimonials Section -->
            <section class="testimonials content-section">
                <div class="container">
                    <div class="row text-center">
                        <div class="col-md-12">
                            <h2>Rated 4.8 out of 5</h2>
                            <h3 class="caption gray">Here's what our clients have to say</h3>
                        </div><!-- /.col-md-12 -->
                        
                        <div class="container">
                            <div class="row">
                                <div class="col-md-8 col-md-offset-2">
                                    <div class="client-testimonials owl-carousel owl-theme">

                                        <div class="item">
                                            <p class="speech">Hallooou is the best HTML5 template we have EVER purchased. It's the perfect solution for our business. The unlimited customization helps us get things done quickly and efficiently.</p>
                                            <div class="client-info">
                                                <img src="assets/images/gina_stone-client_pic.jpg" />
                                                <h4>Gina Stone</h4>
                                                <span>Adam Productions</span>
                                            </div>
                                        </div><!-- /.item -->

                                        <div class="item">
                                            <p class="speech">This is the real deal! Very easy to use. Thanks to Hallooou HTML5 template, we've just launched our new website! I couldn't have asked for more than this. Definitely worth the investment.</p>
                                            <div class="client-info">
                                                <img src="assets/images/john_doe-client_pic.jpg" />
                                                <h4>John Doe</h4>
                                                <span>Doe Associates</span>
                                            </div>
                                        </div><!-- /.item -->

                                        <div class="item">
                                            <p class="speech">We're loving it. The best on the net! I strongly recommend Hallooou HTML5 template to everyone interested in running a successful business! Hallooou HTML5 template has really helped our business.</p>
                                            <div class="client-info">
                                                <img src="assets/images/dana_hill-client_pic.jpg" />
                                                <h4>Dana Hill</h4>
                                                <span>Lakeview Inc.</span>
                                            </div>
                                        </div><!-- /.item -->

                                    </div><!-- /.client-testimonials -->
                                </div><!-- /.col-md-8 -->

                            </div><!-- /.row -->
                        </div><!-- /.container -->

                    </div><!-- /.row -->
                </div><!-- /.container -->
            </section><!-- /#testimonials -->