
<!-- Portfolio/Gallery Section -->
            <section id="portfolio" class="portfolio content-section parallax">
                <div class="container">
                    <div class="row text-center">
                        <div class="col-md-12">
                            <h2>Some of our recent work</h2>
                            <h3 class="caption white">Designed with passion and coded to perfection, Hallooou is a stylish responsive HTML template, that is packed with tons of features yet is so easy to use. </h3>
                        </div><!-- /.col-md-12 -->
                    </div><!-- /.row -->
                </div><!-- /.container -->

                <div class="container project-container text-center">
                    <div class="recent-project-carousel owl-carousel owl-theme popup-gallery">
                        <div class="item recent-project">
                            <img src="assets/images/gallery/project-one.jpg" alt="">
                            <div class="project-info">
                                <h3>Lakeview Inc.</h3>
                                <ul class="project-meta">
                                    <li><a href="#">Website Design</a></li>
                                </ul>
                            </div><!-- /.project-info -->
                            <div class="full-project">
                                <a href="assets/images/gallery/project-one_xl.jpg" title="Lakeview Inc. | Website Design">View project <i class="fa fa-chevron-right"></i></a>
                            </div><!-- /.full-project -->
                        </div><!-- /.item -->

                        <div class="item recent-project">
                            <img src="assets/images/gallery/project-two.jpg" alt="">
                            <div class="project-info">
                                <h3>Adam Productions</h3>
                                <ul class="project-meta">
                                    <li><a href="#">App Design</a></li>
                                </ul>
                            </div><!-- /.project-info -->
                            <div class="full-project">
                                <a href="assets/images/gallery/project-two_xl.jpg" title="Adam Productions | App Design">View project <i class="fa fa-chevron-right"></i></a>
                            </div><!-- /.full-project -->
                        </div><!-- /.item -->

                        <div class="item recent-project">
                            <img src="assets/images/gallery/project-three.jpg" alt="">
                            <div class="project-info">
                                <h3>Doe Associates</h3>
                                <ul class="project-meta">
                                    <li><a href="#">Branding</a></li>
                                </ul>
                            </div><!-- /.project-info -->
                            <div class="full-project">
                                <a href="assets/images/gallery/project-three_xl.jpg" title="Doe Associates | Branding">View project <i class="fa fa-chevron-right"></i></a>
                            </div><!-- /.full-project -->
                        </div><!-- /.item -->

                        <div class="item recent-project">
                            <img src="assets/images/gallery/project-four.jpg" alt="">
                            <div class="project-info">
                                <h3>Omega Corporation</h3>
                                <ul class="project-meta">
                                    <li><a href="#">App Design</a></li>
                                </ul>
                            </div><!-- /.project-info -->
                            <div class="full-project">
                                <a href="assets/images/gallery/project-four_xl.jpg" title="Omega Corporation | App Design">View project <i class="fa fa-chevron-right"></i></a>
                            </div><!-- /.full-project -->
                        </div><!-- /.item -->

                    </div><!-- /.recent-project-carousel -->

                    <div class="customNavigation project-navigation text-center">
                        <a class="btn-prev"><i class="fa fa-angle-left fa-2x"></i></a>
                        <a class="btn-next"><i class="fa fa-angle-right fa-2x"></i></a>
                    </div><!-- /.project-navigation -->

                </div><!-- /.container -->
            </section><!-- /.portfolio -->