.fondo {
	background: rgba(1,144,56,1);
	background: -moz-linear-gradient(-45deg, rgba(1,144,56,1) 0%, rgba(1,137,55,1) 22%, rgba(0,119,55,1) 51%, rgba(2,111,54,1) 76%, rgba(0,102,55,1) 100%);
	background: -webkit-gradient(left top, right bottom, color-stop(0%, rgba(1,144,56,1)), color-stop(22%, rgba(1,137,55,1)), color-stop(51%, rgba(0,119,55,1)), color-stop(76%, rgba(2,111,54,1)), color-stop(100%, rgba(0,102,55,1)));
	background: -webkit-linear-gradient(-45deg, rgba(1,144,56,1) 0%, rgba(1,137,55,1) 22%, rgba(0,119,55,1) 51%, rgba(2,111,54,1) 76%, rgba(0,102,55,1) 100%);
	background: -o-linear-gradient(-45deg, rgba(1,144,56,1) 0%, rgba(1,137,55,1) 22%, rgba(0,119,55,1) 51%, rgba(2,111,54,1) 76%, rgba(0,102,55,1) 100%);
	background: -ms-linear-gradient(-45deg, rgba(1,144,56,1) 0%, rgba(1,137,55,1) 22%, rgba(0,119,55,1) 51%, rgba(2,111,54,1) 76%, rgba(0,102,55,1) 100%);
	background: linear-gradient(135deg, rgba(1,144,56,1) 0%, rgba(1,137,55,1) 22%, rgba(0,119,55,1) 51%, rgba(2,111,54,1) 76%, rgba(0,102,55,1) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#019038', endColorstr='#006637', GradientType=1 );	
}

.panel-login{
  background-color:#eeeeee;
  margin-bottom: 30px;
  border-radius: 5px;
  border: 1px solid rgba(147, 184, 189,0.8);
  
}

.letra-login{
  font-size: 23px;
  line-height: 40px;
  margin: 0;
  position: relative;
  color: #008137;
  font-weight: bold;
  /*font-weight: 300;*/
  font-family: Cambria, Georgia, serif;
  text-shadow: 1px 1px 1px rgba(255,255,255,0.7);
}
.letra-campos{
  font-size: 13px;
  color: #316884;
  font-family: Cambria, Georgia, serif;
}

.btn-login {
  width: 30%;  
  font-size: 20px;
  color: #eeeeee;
  font-family: Cambria, Georgia, serif;
  margin-top: 10%;
  background-color: #5CB85C;
  border-color: #4CAE4C;
}

.btn-login:hover{
  background-color: #449D44;
}

.panel-login{
  background-color:#eeeeee;
  margin-bottom: 30px;
  border-radius: 5px;
  border: 1px solid rgba(147, 184, 189,0.8);
}

.fa-user, 
.fa-lock{
  color: #008137;
}