html,body
{
    width: 100%;
    height: 100%;
}

.navbar
{
    border-radius: 0px;
    border: 0px;
    border-bottom: 4px solid #044170;
}

.navbar-inverse .navbar-nav>.open>a, .navbar-inverse .navbar-nav>.open>a:focus, .navbar-inverse .navbar-nav>.open>a:hover
{
    background-color: #009735;
}
.navbar-inverse .navbar-nav>li>a
{
    color: lightgray;
}

.navbar-inverse .navbar-nav>li>a:hover
{
    color: #ffffff;
}

.navbar-inverse .navbar-nav>li:hover
{
    background-color: #06416D;
}

.navbar-inverse .navbar-toggle:focus, .navbar-inverse .navbar-toggle:hover
{
    background-color: #009735;
}

.dropdown-menu > li > a {
    display: block;
    padding: 3px 20px;
    clear: both;
    font-weight: normal;
    line-height: 1.42857143;
    color: lightgray;
    white-space: nowrap;
}

.dropdown-menu > li > a:hover, .dropdown-menu > li > a:focus {
    color: #ffffff;
    text-decoration: none;
    background-color: #06416D;
}

.menuUser
{
    margin-top: -85px;
}

.menuUser li a
{
    color: #000000;
}

.logoCelu
{
    display: none;
}

.fondoVerde
{
    background-color: #009735;
}

.fondoGris
{
    background-color: #EAEAEA;
}

.fuenteMenu
{
    font-family: 'Muli', sans-serif;
    font-size: 18px;
}

.subMenuUL
{
    background-color: #009735;
    font-family: 'Muli', sans-serif;
    font-size: 14px;
}

.marginOff
{
    margin: 0px;
}

.paddOff
{
    padding: 0px;
}

.alertON
{
    color: red;
}

.headRow div
{
    height: 120px;
}

.headRow div a img
{
    height: 100%;
}

.InfoUserBlock
{
    margin: 2px;
    margin-bottom: 4px;
    text-align: center;
}

.InfoUserBlock span
{
    display: block;
    border: 2px solid #858688;
    width: 50px;
    height: 50px;
    border-radius: 100px;
    padding:20px;
    text-align: center;
    margin: auto;
    margin-top: -5px;
}

.InfoUserBlock span i
{
    font-size: 30px;
    margin-top: -12px;
    margin-left: -5px;
    color: #858688;
}

.InfoUserBlock .Camion,
.InfoUserBlock .User,
.InfoUserBlock .UserDatos
{
    border: 0px;
}

.InfoUserBlock .Camion img
{
    border: 0px;
    width: 65px;
    margin-top: -26px;
    margin-left: -28px;
}

.InfoUserBlock .User img
{
    border: 0px;
    width: 85px;
    margin-top: -20px;
    margin-left: -28px;
}

.InfoUserBlock p
{
    font-size: 12px;
    color: #858688;
    text-align: center;
    margin-top: 2px;
}

.UserDatos p
{
    font-size: 12px;
    color: #858688;
    text-align: left;
    margin-top: 2px;
    margin-left: 80px;
}

.InfoUserBlock p b
{
    color: #009735;
    font-size: 16px;
}
.UserDatos p b
{
    color: #858688;
    font-size: 16px;
}

@media (max-width: 767px)
{
    .navbar-inverse .navbar-nav>li:hover
    {
        background-color: #02693A;
    }
    .navbar-inverse .navbar-nav .open .dropdown-menu > li > a {
        color: #ffffff;
    }
    .head
    {
        display: none;
    }
    .logoCelu
    {
        display: block;
    }
    .logoCelu img
    {
        width: 100px;
    }
}

@media (max-width: 1200px)and (min-width: 700px)
{
    .headRow div a img
    {
        height: 100%;
        width: 100%;
    }
}